@font-face {
  font-family: "MPLUS1p";
  src: url("../fonts/mplus1p/MPLUS1p-Thin.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "MPLUS1p";
  src: url("../fonts/mplus1p/MPLUS1p-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "MPLUS1p";
  src: url("../fonts/mplus1p/MPLUS1p-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "MPLUS1p";
  src: url("../fonts/mplus1p/MPLUS1p-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "MPLUS1p";
  src: url("../fonts/mplus1p/MPLUS1p-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "MPLUS1p";
  src: url("../fonts/mplus1p/MPLUS1p-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "MPLUS1p";
  src: url("../fonts/mplus1p/MPLUS1p-Black.ttf");
  font-weight: 900;
}
:root {
  --text: #000;
  --red: #ea736d;
  --blue: #039be5;
  --yellow: #fbdc4d;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "MPLUS1p", sans-serif;
  font-weight: 400;
  color: var(--text);
  font-size: 24px;
}
body.noscroll {
  overflow: hidden;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 52, 73, 0.75);
  z-index: 4;
  display: none;
}
#overlay.active {
  display: block;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
p::-moz-selection,
li::-moz-selection {
  background: var(--yellow);
}
p::selection,
li::selection {
  background: var(--yellow);
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}
button,
textarea,
input {
  outline: none;
}
input[type="radio"],
input[type="checkbox"],
input[type="submit"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
.title-three {
  margin-bottom: 27px;
}
@media (min-width: 1200px) {
  .title-three {
    margin-bottom: 35px;
  }
}
.title-three h3 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-three h3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .title-three h3 {
    font-size: 40px;
  }
}
.title-two {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 800;
}
.title-two .two {
  font-size: 38px;
}
@media (min-width: 768px) {
  .title-two {
    font-size: 52px;
  }
  .title-two .two {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-two {
    font-size: 64px;
  }
  .title-two .two {
    font-size: 64px;
  }
}
.line-bottom-two {
  position: relative;
  z-index: 2;
}
.line-bottom-two:after {
  content: " ";
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  height: 10px;
  background-color: var(--yellow);
  z-index: -1;
}
@media (min-width: 1200px) {
  .line-bottom-two:after {
    bottom: 14px;
    height: 12px;
  }
}
.title-four {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-four {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-four {
    font-size: 26px;
    font-weight: 900;
  }
}
@media (min-width: 1200px) {
  .line-bottom-four {
    position: relative;
    z-index: 2;
  }
  .line-bottom-four:after {
    content: " ";
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 8px;
    background-color: var(--yellow);
    z-index: -1;
  }
  .line-bottom-four:hover:after {
    background-color: var(--red);
  }
}
.header {
  min-width: 320px;
  padding-top: 30px;
  padding-bottom: 100px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    min-width: 768px;
    padding-top: 30px;
    padding-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 1600px;
    padding-top: 73px;
    padding-bottom: 244px;
    background-image: url(../img/bg/header-bg.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    margin: 0 auto;
  }
}
.menu-item {
  position: relative;
}
.menu-item:after {
  content: "";
  height: 10px;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: 15px;
  z-index: -1;
  background-color: red;
  -webkit-transition: .5s;
  transition: .5s;
}
.menu-item:hover:after {
  width: 100%;
}
.header-nav {
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .header-nav {
    padding-left: 40px;
    padding-right: 27px;
    margin-bottom: 69px;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    max-width: 1460px;
    margin-bottom: 140px;
  }
}
.header-logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 900;
  color: var(--text);
}
.header-logo:after {
  content: " ";
  position: absolute;
  bottom: 7px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: var(--yellow);
  z-index: -1;
}
.header-menu {
  display: none;
}
@media (min-width: 1200px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu-item {
  position: relative;
  z-index: 2;
  margin-right: 90px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--text);
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-item:after {
  content: " ";
  position: absolute;
  bottom: 2px;
  left: -1px;
  width: 0px;
  height: 6px;
  background-color: var(--yellow);
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu-item:hover,
.menu-item:active,
.menu-item.active {
  border-style: none !important;
}
.menu-item:hover:after,
.menu-item:active:after,
.menu-item.active:after {
  width: 100%;
}
.menu-item:focus {
  outline: none;
  border-style: dotted;
}
.header-brands {
  display: none;
}
@media (min-width: 1200px) {
  .header-brands {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header-brands-i,
.header-brands-g {
  width: 30px;
  margin-right: 20px;
  color: var(--text);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-brands-v {
  width: 38px;
  color: var(--text);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-brands-i:hover,
.header-brands-i:active {
  color: #0077b5;
}
.header-brands-g:hover,
.header-brands-g:active {
  color: #6cc644;
}
.header-brands-v:hover,
.header-brands-v:active {
  color: #45668e;
}
.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .container-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .container-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header-title {
  width: 290px;
}
@media (min-width: 768px) {
  .header-title {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .header-title {
    width: 560px;
  }
}
.header-name {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .header-name {
    margin-top: 10px;
    margin-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .header-name {
    margin-bottom: 15px;
  }
}
.line-bottom {
  position: relative;
  z-index: 2;
}
.line-bottom:after {
  content: " ";
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  height: 10px;
  background-color: var(--yellow);
  z-index: -1;
}
@media (min-width: 1200px) {
  .line-bottom:after {
    bottom: 20px;
    height: 15px;
  }
}
.header-name h1 {
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .header-name h1 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .header-name h1 {
    font-size: 90px;
    font-weight: 900;
  }
}
.header-text {
  font-size: 18px;
  color: #393f47;
  font-weight: 600;
  line-height: 1.667;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .header-text {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 35px;
  }
}
.header-photo {
  overflow: hidden;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .header-photo {
    margin-bottom: 0;
    margin-right: 27px;
  }
}
@media (min-width: 1200px) {
  .header-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 0;
  }
}
.header-photo img {
  width: 290px;
}
@media (min-width: 1200px) {
  .header-photo img {
    width: 460px;
  }
}
.header-form .button-y {
  display: none;
}
@media (min-width: 1200px) {
  .header-form .button-y {
    display: inline-block;
  }
}
.button-y {
  height: 60px;
  line-height: 58px;
  font-size: 22px;
  color: var(--text);
  font-weight: bold;
  border: 1px solid var(--yellow);
  border-radius: 30.5px;
  background-color: var(--yellow);
  padding: 0 40px;
  text-align: center;
  margin-right: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button-y:last-child {
  margin-right: 0;
}
.button-y:hover {
  background-color: #ffd200;
}
.button-y:active {
  background-color: #e1bc10;
}
.button-light {
  background-color: #fff;
  border: 4px solid #464646;
  color: #464646;
  line-height: 52px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button-light:hover {
  border: 4px solid #797979;
  background-color: #fff;
  color: #797979;
}
.button-light:active {
  border: 4px solid #181818;
  background-color: #fff;
  color: #181818;
}
.header-img {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  margin-top: 17px;
  margin-bottom: 79px;
  z-index: 1;
}
.header-img img {
  position: relative;
}
@media (min-width: 425px) {
  .header-img {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (min-width: 576px) {
  .header-img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header-img {
    margin-top: -47px;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .header-img {
    margin-bottom: -14px;
    margin-top: -130px;
  }
}
.header-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .header-information {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header-skills {
  width: 240px;
}
.header-skills ul {
  margin-bottom: 39px;
}
.header-skills li {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
}
.header-skills li:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .header-skills li {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .header-skills li::before {
    content: "—";
  }
}
@media (min-width: 768px) {
  .header-skills {
    width: 325px;
  }
}
@media (min-width: 1200px) {
  .header-skills {
    width: 600px;
  }
  .header-skills ul {
    margin-bottom: 44px;
  }
}
.header-connection {
  width: 360px;
}
@media (min-width: 768px) {
  .header-connection {
    margin-left: 66px;
  }
}
.sign-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.sign-social a {
  margin-right: 30px;
}
.sign-social a:last-child {
  margin-right: 0;
}
.sign-social-g,
.sign-social-t,
.sign-social-v,
.sign-social-f {
  height: 50px;
  width: 50px;
  color: #000;
}
.text-link a {
  font-size: 18px;
  border-bottom: 1px solid var(--text);
  color: var(--text);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.text-link a:hover {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
}
.text-link a:active {
  color: var(--red);
  border-bottom: 1px solid var(--red);
}
@media (min-width: 768px) {
  .text-link a {
    font-size: 20px;
    margin-top: 26px;
  }
}
@media (min-width: 1200px) {
  .text-link a {
    font-size: 24px;
  }
}
.toggle-menu {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  margin-right: 20px;
}
.toggle-menu span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 6px;
  background-color: var(--text);
  -webkit-transition: .5s;
  transition: .5s;
}
.toggle-menu span:before,
.toggle-menu span:after {
  content: "";
  width: 100%;
  height: 6px;
  background-color: var(--text);
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}
.toggle-menu span:before {
  top: -10px;
}
.toggle-menu span:after {
  bottom: -10px;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu.active span {
  background-color: transparent;
  margin-bottom: 18px;
  left: 9px;
}
.toggle-menu.active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: var(--text);
}
.toggle-menu.active span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: var(--text);
}
@media (min-width: 768px) {
  .toggle-menu.active span {
    left: 25px;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  z-index: 4;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .5s;
  transition: .5s;
}
@media (min-width: 768px) {
  .mobile-menu {
    z-index: 5;
    max-width: 320px;
  }
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header-nav.nav-mini {
  padding-top: 25px;
  padding-bottom: 175px;
  padding-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .header-nav.nav-mini {
    padding-top: 20px;
  }
}
.header-nav-mini {
  margin-bottom: 49px;
}
.header-logo.logo-mini {
  width: 55px;
  margin-bottom: 35px;
}
.header-menu.menu-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-menu.menu-mini a {
  margin-bottom: 27px;
  border-bottom: 1px solid var(--text);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header-menu.menu-mini a:last-child {
  margin-bottom: 0;
}
.header-social.mini-social a {
  margin-right: 20px;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .header-social.mini-social a {
    margin-bottom: 9px;
  }
}
.header-connection.connection-mini {
  margin-left: 0;
}
.section-portfolio {
  padding-top: 49px;
  padding-bottom: 134px;
  background-color: #f4f8f9;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section-portfolio {
    padding-top: 68px;
    padding-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding-top: 106px;
    padding-bottom: 135px;
  }
}
.portfolio-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 768px) {
  .portfolio-menu {
    margin-bottom: 49px;
  }
}
@media (min-width: 1200px) {
  .portfolio-menu {
    margin-bottom: 50px;
  }
}
.portfolio-block-toggle-item {
  display: none;
}
@media (min-width: 768px) {
  .portfolio-block-toggle-item {
    display: block;
    font-size: 24px;
    line-height: 1.2;
    margin-right: 50px;
    font-weight: 700;
    color: #8fa5ae;
  }
  .portfolio-block-toggle-item:last-child {
    margin-right: 0;
  }
  .portfolio-block-toggle-item:hover,
  .portfolio-block-toggle-item:active {
    color: #ed574f;
  }
}
@media (min-width: 1200px) {
  .portfolio-block-toggle-item {
    font-size: 28px;
    font-weight: 700;
    margin-right: 80px;
    letter-spacing: 0.8px;
  }
}
button.control-active {
  color: var(--text);
}
.portfolio-title h2 {
  margin-bottom: 46px;
  margin-left: -2px;
}
@media (min-width: 768px) {
  .portfolio-title h2 {
    margin-left: -7px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio-title h2 {
    margin-left: 0;
    margin-bottom: 59px;
  }
}
.portfolio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .portfolio-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: -12px;
    width: 710px;
  }
}
@media (min-width: 1200px) {
  .portfolio-content {
    width: auto;
  }
}
.portfolio-content a {
  width: 290px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .portfolio-content a {
    width: 340px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .portfolio-content a {
    width: 360px;
    margin-bottom: 0;
  }
}
.container-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}
#page-nav {
  display: none;
}
@media (min-width: 1200px) {
  #page-nav {
    display: block;
    position: fixed;
    right: 80px;
    top: 375px;
    z-index: 100;
    outline-color: none;
  }
}
#page-nav li {
  width: 13px;
  height: 13px;
  background-color: #89b4cb;
  border-radius: 50%;
  margin-bottom: 27px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li.active {
  background-color: #ea736d;
}
.show-project-cards {
  font-size: 20px;
  color: #039be5;
  text-decoration: underline;
  line-height: 1.2;
  letter-spacing: 0.7px;
}
.portfolio-card {
  display: block;
  overflow: hidden;
  margin-bottom: 42px;
}
.portfolio-card:last-child {
  margin-bottom: 0;
}
.portfolio-card-img {
  background-color: #fdd446;
  margin-bottom: 20px;
  position: relative;
}
.portfolio-card-img img {
  height: 200px;
}
@media (min-width: 768px) {
  .portfolio-card-img img {
    height: 240px;
  }
}
.portfolio-card-img button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -300px);
          transform: translate(-50%, -300px);
  padding: 0 30px;
  height: 50px;
  line-height: 48px;
  font-size: 22px;
  font-weight: 500;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 26px;
  -webkit-transition: .5s;
  transition: .5s;
  color: var(--red);
}
.portfolio-card-img button:hover {
  background-color: #ea736d;
  color: #fff;
  border: 1px solid #ea736d;
}
.portfolio-card-img button:active {
  background-color: #d4423b;
  color: #fff;
}
@media (min-width: 1200px) {
  .portfolio-card-img {
    margin-bottom: 26px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card.img-big {
    width: 555px;
    margin-bottom: 63px;
  }
  .portfolio-card.img-big h3 {
    font-size: 32px;
  }
  .portfolio-card.img-big p {
    font-size: 22px;
  }
  .portfolio-card.img-big img {
    width: 555px;
    height: 370px;
  }
}
.portfolio-card-img:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 221, 100, 0.85);
  color: #ea736d;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
}
.portfolio-card:hover .portfolio-card-img button {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.portfolio-card:hover .portfolio-card-img:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.portfolio-card-title h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--text);
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .portfolio-card-title h3 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-title h3 {
    font-size: 26px;
    margin-bottom: 10px;
  }
}
.portfolio-card-title p {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text);
}
@media (min-width: 768px) {
  .portfolio-card-title p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-title p {
    font-size: 20px;
  }
}
.container-timeline {
  max-width: 1005px;
  margin: 0 auto;
}
.section-timeline {
  min-width: 320px;
  padding-top: 47px;
  padding-bottom: 20px;
  overflow: hidden;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section-timeline {
    min-width: 768px;
    padding-top: 75px;
    padding-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .section-timeline {
    max-width: 1600px;
    padding-top: 137px;
    padding-bottom: 52px;
    background-image: url(../img/bg/timeline-bg.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    margin: 0 auto;
  }
}
.timeline-title {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .timeline-title {
    margin-bottom: 137px;
  }
}
@media (min-width: 1200px) {
  .timeline-title {
    margin-bottom: 134px;
  }
}
@media (min-width: 768px) {
  .timeline-block {
    padding-top: 22px;
  }
}
.timeline-block-item {
  position: relative;
  width: 100%;
  padding-left: 98px;
  min-height: 165px;
  padding-bottom: 40px;
}
.timeline-block-item:last-child::after {
  display: none;
}
@media (min-width: 768px) {
  .timeline-block-item:first-child::before {
    content: "";
    width: 4px;
    background-color: #e1eef4;
    position: absolute;
    top: -78px;
    left: auto;
    right: -2px;
    height: 58px;
  }
}
.timeline-block-item:after {
  content: "";
  width: 4px;
  background-color: #e1eef4;
  position: absolute;
  top: 94px;
  bottom: 0;
  left: 32px;
}
@media (min-width: 768px) {
  .timeline-block-item {
    width: 50%;
    padding-bottom: 41px;
    padding-left: 67px;
  }
}
@media (min-width: 1200px) {
  .timeline-block-item {
    padding-bottom: 64px;
    padding-left: 84px;
  }
}
@media (min-width: 768px) {
  .timeline-block-item:nth-child(even) {
    margin-left: auto;
    padding-top: 22px;
  }
  .timeline-block-item:nth-child(even):after {
    left: -2px;
  }
  .timeline-block-item:nth-child(even) .timeline-item-icon {
    left: -37px;
  }
}
@media (min-width: 768px) {
  .timeline-block-item:nth-child(odd) {
    padding-left: 0;
    padding-right: 70px;
    text-align: right;
    padding-top: 22px;
  }
  .timeline-block-item:nth-child(odd):after {
    left: auto;
    right: -2px;
  }
  .timeline-block-item:nth-child(odd) .timeline-item-icon {
    left: auto;
    right: -37px;
  }
}
.timeline-block-item + .timeline-block-item {
  margin-top: 21px;
}
@media (min-width: 768px) {
  .timeline-block-item + .timeline-block-item {
    margin-top: 21px;
  }
}
.timeline-item-title {
  margin-bottom: 11px;
}
.timeline-text-text {
  margin-bottom: 10px;
}
.timeline-text-text p {
  font-size: 14px;
  line-height: 1.429;
  font-weight: 500;
}
@media (min-width: 768px) {
  .timeline-text-text p {
    font-size: 16px;
    line-height: 1.375;
  }
}
@media (min-width: 1200px) {
  .timeline-text-text p {
    font-size: 18px;
    line-height: 1.2;
  }
}
.timeline-text-time p {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .timeline-text-time p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .timeline-text-time p {
    font-size: 18px;
  }
}
.timeline-item-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 74px;
  height: 74px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  border-radius: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-contacts {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #f4f8f9;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section-contacts {
    padding-top: 77px;
    padding-bottom: 85px;
  }
}
@media (min-width: 1200px) {
  .section-contacts {
    padding-top: 133px;
    padding-bottom: 155px;
  }
}
.contacts-email span {
  display: block;
}
@media (min-width: 1200px) {
  .contacts-email span {
    display: inline-block;
    width: 190px;
  }
}
.contacts-email a {
  color: #039be5;
}
.contacts-email p {
  display: inline-block;
  color: #96969d;
}
.contacts-title {
  margin-bottom: 45px;
  text-align: center;
}
@media (min-width: 768px) {
  .contacts-title {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .contacts-title {
    margin-bottom: 52px;
  }
}
.contacts-list {
  margin-bottom: 36px;
}
@media (min-width: 1200px) {
  .contacts-list {
    margin-bottom: 46px;
  }
}
.contacts-content-text {
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: -4px;
}
@media (min-width: 768px) {
  .contacts-content-text {
    font-size: 18px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .contacts-content-text {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 700;
  }
}
.contacts-email {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}
.contacts-email:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contacts-email {
    margin-bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .contacts-email {
    margin-bottom: 27px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.content-row {
  position: relative;
}
@media (min-width: 768px) {
  .contacts-content {
    width: 370px;
    padding-right: 65px;
  }
}
@media (min-width: 1200px) {
  .contacts-content {
    width: 595px;
    padding-top: 32px;
  }
}
.contacts-form {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 38px;
  -webkit-box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.004);
          box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.004);
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 20px;
  margin-top: 48px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .contacts-form {
    width: 340px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 12px;
  }
}
@media (min-width: 1200px) {
  .contacts-form {
    width: 515px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
.form-item {
  position: relative;
}
.form-item .form-field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #eaeaea;
  height: 80px;
  font-size: 20px;
}
.form-item .form-field:active,
.form-item .form-field:focus {
  border-bottom: 1px solid var(--red);
}
@media (min-width: 768px) {
  .form-item .form-field {
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .form-item .form-field {
    height: 63px;
  }
}
.form-item textarea.form-field {
  height: 156px;
}
@media (min-width: 768px) {
  .form-item textarea.form-field {
    height: 151px;
  }
}
@media (min-width: 1200px) {
  .form-item textarea.form-field {
    height: 135px;
  }
}
.form-item input[type="submit"] {
  height: 52px;
  line-height: 50px;
  font-size: 20px;
  color: var(--text);
  font-weight: bold;
  border: 1px solid var(--yellow);
  border-radius: 30.5px;
  background-color: var(--yellow);
  padding: 0 73px;
  text-align: center;
  margin-right: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  vertical-align: middle;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form-item input[type="submit"]:last-child {
  margin-right: 0;
}
.form-item input[type="submit"]:hover {
  background-color: #ffd200;
}
.form-item input[type="submit"]:active {
  background-color: #e1bc10;
}
@media (min-width: 768px) {
  .form-item input[type="submit"] {
    padding: 0 90px;
  }
}
@media (min-width: 1200px) {
  .form-item input[type="submit"] {
    padding: 0 45px;
    line-height: 58px;
    height: 60px;
  }
}
.form-item + .form-item {
  margin-top: 9px;
}
@media (min-width: 1200px) {
  .form-item + .form-item {
    margin-top: 37px;
  }
}
.fake-palceholder {
  position: absolute;
  top: 42px;
  left: 0;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
  color: #bcbcbc;
}
@media (min-width: 768px) {
  .fake-palceholder {
    top: 38px;
  }
}
@media (min-width: 1200px) {
  .fake-palceholder {
    top: 24px;
  }
}
.fake-palceholder.active {
  top: 22px;
  font-size: 16px;
  color: #ed9626;
}
@media (min-width: 768px) {
  .fake-palceholder.active {
    top: 12px;
  }
}
@media (min-width: 1200px) {
  .fake-palceholder.active {
    top: -10px;
  }
}
label.error {
  font-size: 14px;
  font-weight: 700;
  color: sienna;
  position: relative;
  top: -10px;
}
.contacts-content-img {
  display: none;
}
@media (min-width: 1200px) {
  .contacts-content-img {
    position: absolute;
    left: -352px;
    top: -5px;
  }
}
.move-quot {
  display: none;
}
@media (min-width: 1200px) {
  .move-quot {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: .3;
    max-width: 200px;
  }
}
.footer {
  padding-top: 36px;
  padding-bottom: 24px;
  background-color: #333333;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}
.title-footer {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 14px;
}
@media (min-width: 1200px) {
  .title-footer {
    margin-bottom: 16px;
  }
}
.portfolio-title p {
  font-size: 16px;
  color: #b0b0b0;
}
.webcademy {
  font-size: 16px;
  color: #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
}
.webcademy:hover,
.webcademy:active {
  color: #d6d6d6;
}
/*# sourceMappingURL=main.css.map */