.header-nav.nav-mini {
    padding-top: 25px;
    padding-bottom: 175px;
    padding-left: 27px;  
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
		padding-top: 20px;
	}
}

.header-nav-mini {
    margin-bottom: 49px;
}

.header-logo.logo-mini {
    width: 55px;
    margin-bottom: 35px;
}

.header-menu.menu-mini {
    display: flex;
    flex-direction: column;
    
    a {
        margin-bottom: 27px;
        border-bottom: 1px solid var(--text);
        width: fit-content;
        
        &:last-child {
            margin-bottom: 0;
        }    
    }
}

.header-social.mini-social a {
    margin-right: 20px;
    margin-bottom: 18px;

    @media (min-width: 768px) {
		margin-bottom: 9px;
	}
    
}

.header-connection.connection-mini {
    margin-left: 0;
}
